<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mastergroup.smartcook">

    <uses-permission android:name="android.permission.EXPAND_STATUS_BAR" />
    <uses-permission android:name="android.permission.STATUS_BAR" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <!-- Required  一些系统要求的权限，如访问网络等 -->
    <uses-permission android:name="com.gizwits.opensource.appkit.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <!-- Optional. Required for location feature -->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <!-- 极光推送 -->


    <!-- shareSDK -->
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <!-- 蓝牙分享所需的权限 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <!-- 百度推送 -->
    <!-- Push service 运行需要的权限 -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <!-- 富媒体需要声明的权限 -->
    <uses-permission android:name="android.permission.ACCESS_DOWNLOAD_MANAGER" />
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />

    <!-- SDK 使用权限 -->
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 乐鑫配置库中使用的权限（WIFI组播） -->

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.GET_TASKS" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="icon,label,theme,name">
        <meta-data
            android:name="miniMasterApp"
            android:value="58dcbbca1061d204db000636" />

        <activity
            android:name=".module.welcomeModule.WelcomeActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".module.menu.MenuListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.home.HomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.menu.MenuViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.menu.MenuCreateActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".module.cooking.CookingActivity" />
        <activity android:name=".module.settings.SettingsActivity" />
        <activity android:name=".module.device.DeviceListActivity" />
        <activity android:name=".module.menu.MyMenuListActivity" />
        <activity android:name=".module.device.DeviceControlActivity" />
        <activity android:name=".module.menu.DeviceSelectActivity" />
        <activity android:name=".module.settings.StoreActivity" />
        <activity android:name=".module.menu.CommentListActivity" />
        <activity android:name=".module.menu.CommentWriteActivity" />
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.umeng.qq.tencent.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent100424468" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.umeng.qq.tencent.AssistActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity android:name=".module.settings.UserInfoActivity" />
        <activity android:name=".module.device.AddDevSettingWifiActivity" />
        <activity android:name=".module.device.AddDevSetDevStateActivity" />
        <activity android:name=".module.device.AddDevConfigCountdownActivity" />
        <activity android:name=".module.device.GizModeListActivity" />
        <activity android:name=".module.settings.AppRegisterAndAgreement" />
        <activity android:name=".module.settings.AboutActivity" />
        <activity android:name=".module.menu.LikeListActivity" />
        <activity android:name=".module.settings.FeedBackActivity" />
        <activity android:name=".module.menu.FavoriteListActivity" />
        <activity android:name=".module.menu.SearchActivity" />

        <!-- shareSDK -->
        <activity
            android:name="com.mob.tools.MobUIShell"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <data android:scheme="tencent100371282" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <!-- 调用新浪原生SDK，需要注册的回调activity -->
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <!-- 集成line客户端登录授权，需要添如下格式的过滤器 -->
            <intent-filter>
                <data android:scheme="line.1477692153" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!-- 填写您从Mob开发者后台中得到的Appkey和AppSecret -->
        <meta-data
            android:name="Mob-AppKey"
            android:value="1f200a1e022e2" />
        <meta-data
            android:name="Mob-AppSecret"
            android:value="e38238653c0c30e4767483616480b596" />

        <activity android:name=".module.message.MessageActivity" />
        <activity android:name=".module.message.MessageSettingActivity" />
        <activity android:name=".module.device.InductionTestActivity" />
        <activity android:name=".module.message.CommentActivity" />
        <activity android:name=".module.message.ResponseActivity" />
        <activity android:name=".module.message.LikeActivity" />
        <activity android:name=".module.message.FansActivity" />
        <activity android:name=".module.message.SystemMessageActivity" />
        <activity android:name=".module.device.AddDevSelectTypeActivity"></activity>
    </application>

</manifest>